@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
	font-family: 'Poppins', Arial, sans-serif;
}

html,
body {
	background-color: white;
}

ul {
	padding-inline-start: 0px;
	padding-inline-end: 0px;
}
/*untuk memposisikan list berada di kiri dan memiliki warna font berwarna hitam.*/
li {
	float: left;
	list-style-type: none;
}

/*untuk mengatur link pada navigasi,pada mulainya tulisan link berwarna biru, namun disetel menjadi putih denga nmenyertakan property color dengan value white*/
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/*untuk menampilkan efek sedang berada di sekitar link*/
li a:hover:not(.active) {
	background-color: #ddd;
}

/*untuk menampilkan halaman yang aktif*/
li a.active {
	color: white;
	background-color: rgb(41, 40, 40);
}

div.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.nav {
	color: white;
	background-color: #333;
	overflow: hidden;
}
/*kode ini mengatur menengahkan semua elemen yang ada pada header,memberikan warna background, mengatur warna font yang ada pada header, dan lain-lain*/
.header {
	background-color: #f8f8f8;
	padding: 20px;
	text-align: center;
	color: black;
	max-width: 100%;
}
/*
.header::before {
	content: '';
	display: table;
	clear: both;
}*/
.fa {
	padding: 10px;
	font-size: 15px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background: white;
	color: #3b5998;
}

.fa-twitter {
	background: white;
	color: #55acee;
}

.fa-google {
	background: white;
	color: #dd4b39;
}

.fa-linkedin {
	background: white;
	color: #007bb5;
}

hr {
	border-top: 2px solid rgba(0, 0, 0, 0.1);
}

img {
	border-radius: 50%;
	width: 250px;
}

h1 {
	color: rgb(23, 19, 19);
}

h2,
h3 {
	color: rgb(23, 19, 19);
	font-weight: bold;
	padding-bottom: 0%;
}
h4 {
	color: rgb(23, 19, 19);
	font-weight: 700;
	padding-bottom: 0%;
}

h5 {
	color: rgb(23, 19, 19);
	font-weight: lighter;
}

.sidebar {
	display: inline-block;
	vertical-align: text-top;
	width: 200px;
	margin-top: 0px;
}
/*mengatur style pada kolom input*/
input[type='text'],
select,
textarea {
	width: 90%;
	padding: 12px;
	border: 1px solid#ccc;
	border-radius: 4px;
	resize: vertical;
}

/*Mengatur label-label pada formulir*/
label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}

/*mengatur tampilan tombol entah itu dari warna background, warna teks, border, posisi, dan lain-lain*/
input[type='submit'] {
	background-color: rgb(41, 40, 40);
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: left;
}

/*mengatur tampilan tombol saat mouse diarahkan kesana*/
input[type='submit']:hover {
	background-color: #4200ab;
}

/*mengatur form dari tampilan background, padding, margin,dan sudut-sudut border*/
.container {
	border-radius: 0px 0px 0px 0px;
	padding: 10px;
	margin: auto;
}

/*mengatur pembagian luasan kolom untuk label dan input formulir*/
.col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}

.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}

.row {
	margin-left: -10px;
}

/*Clear floats after the columns*/
.row:after {
	content: '';
	display: table;
	clear: both;
}

.jumbotron {
	text-align: center;
	align-items: center;
}

.jumbotron::before {
	content: '';
	padding-top: 50px;
	display: table;
	clear: both;
}
.container-fluid .isiform {
	padding-top: 30px;
	padding-bottom: 20px;
}

.container-fluid .isiform .row {
	padding-left: 100px;
	padding-right: 50px;
	margin-left: auto;
	margin-right: auto;
}
.bg-grey {
	background-color: rgb(214, 214, 214);
}
footer {
	background-color: black;
	padding: 10px;
	text-align: center;
	color: white;
}

footer::before {
	content: '';
	padding-top: 10px;
	margin-top: 15px;
}

.batasan {
	margin: 50px;
}
